a:hover, a:active {color: #bfacc8;
}


.menubutton {width: 34px;
            padding: 21px 10px 21px 0px;

}

nav ul {list-style-type: none;
        text-align: right;
        font-weight: 300;
}

header {display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
}

.logo {width: 250px;
      padding: 0px 0px 0px 25px;
}

@media screen and (min-width: 500px) {
  .logo {width: 300px;
        padding: 0px 0px 0px 25px;
  }
}


.large-screen-menu {font-size: 1.4em;
}

@media screen and (min-width: 800px) {
  .small-screen-menu {display: none;
                      padding-bottom: 10px;
                      padding-right: 20px;
  }
  main {margin: 5em;
  }
}

@media screen and (max-width: 800px) {
  .large-screen-menu {display: none;
  }
  nav li {text-align: center;
  }
}

/* Global */

body {margin: 0 auto;
}

.body-h1, .body-h2 {text-align: center;
                    color: #414042;
}

.body-text {margin: 0% 3% 0% 3%;
            padding: 25px 0px 25px 0px;
}

@media screen and (min-width: 300px) {
  .body-text {margin: 0% 20% 0% 20%;
  }
}

@media screen and (min-width: 800px) {
  .body-text {margin: 0% 25% 0% 25%;
  }
}

img {width: 100%;
}

p, a, h1, h2, h3 {font-family: 'Fira Sans', sans-serif;
}

p {color: #4b2c6b;
}

h1, h2 {color: #414042;
}

h1 {text-align: center;
    font-size: 1.6em;
}



a {text-decoration: none;
}

main {margin: 0em;
      max-width: 1300px;
}

footer {text-align: center;
        background-color: #4b2c6b;
        padding: 5px 0px 10px 0px;
}

/* Body */

.paragraph-container {background-color: #ebe6f3;
                      padding: 40px 0px 40px 0px;
}

.index-img {border-top: 1px solid #e6e7e8;
}

/* Grid System */

*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
	content: "";
  display: table;
  clear: both;
}


.wrapper {
  margin: 0 auto;
}

/* grid */
.row {
  margin: 0px;
  margin-bottom: 0px;
}

[class*="col-"] {
  padding: 70px;
}


@media all and ( min-width: 850px ) {

  .col-1-1, .col-1-2, .col-1-3, .col-1-4 {
    float: left;
    width: 50%;
height: 300px;

}
}


.col-1-1 {background-color: #4b2c6b;
      height: 400px;
}

.col-1-2 {background-color: #e6e7e8;
      height: 400px;
}

.col-1-3 {background-color: #bfacc8;
      height: 400px;
}

.col-1-4 {background-color: #414042;
      height: 400px;
}

.white-text {color: #ffffff;

}

.purple-text {color: #4b2c6b;

}

.arrow {font-size: .7em;
}


/* Button */


.button, .button2, .nav-button {
	position: relative;
	background-color: #bfacc8;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
}

.button, .button2, .nav-button {
	position: relative;
	background-color: #4b2c6b;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
}

.button3 {
	position: relative;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
}

.button, .button2, .button3 {height: 50px;
	       width: 150px;
}

.nav-button {height: 50px;
	           width: 125px;
}


.button h2, .button2 h2, .button3 h2, .nav-button h4 {padding-top: 7px;
}

.button:hover, .nav-button:hover {background-color: #bfacc8;
}

.button3 {background-color: #bfacc8;
          color: #bfacc8;
}

.button2:hover, .button3:hover {background-color: #e6e7e8;
}

.action-button1, .submit {color: #ffffff;
}

.action-button2 {color: #ffffff;
}

.action-button3 {color: #ffffff;
}

.action-button1:hover {color: #4b2c6b;
}

.action-button2:hover {color: #4b2c6b;
}

.action-button3:hover {color: #4b2c6b;
}

/* Payment Form */

.payment {margin: 0 auto;
          width: 500px;
}

.input-box {height: 35px;
            padding: 10px;
            border-radius: 7px;
            border-style: 1px #4b2c6b;
            margin: 5px;
}

@media screen and (min-width: 600px) {
                .input-box {width: 45%;
}
                .submit {width: 100%;
}
}

.submit {width: 45%;
        height: 35px;
        border-radius: 7px;
        background-color: #4b2c6b;
}


/* Footer */

footer p {padding: 100px 0px 0px 0px;
          color: #ffffff;
}

/* Scripts */

/* Nav script link */

HTML  CSS  JS  Result
Edit on
a.menu-link {
        float: right;
            display: block;
            padding: 1em;
        }
        nav[role=navigation] {
            clear: both;
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -ms-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            transition: all 1s ease-out;
        }
        .js nav[role=navigation] {
            overflow: hidden;
            max-height: 0;
        }
        nav[role=navigation].active {
            max-height: 25em;
        }
        nav[role=navigation] ul {
            margin: 0;
            padding-bottom: 1em;
        }
        nav[role=navigation] li a {
            display: block;
            padding: 0.8em;
        }

        @media screen and (min-width:800px) {
            a.menu-link {
               display: none;
            }
            .js nav[role=navigation] {
                max-height: none;
            }
            nav[role=navigation] ul {
                margin: 0 0 0 -0.25em;
                border: 0;
            }

            nav[role=navigation]  li {
                display: inline-block;
                margin: 0 0.25em;
            }
            nav[role=navigation] li a {
                border: 0;
            }
        }
